:root {
  --clr-primary-rgb: 251, 101, 30;
  --clr-primary: rgb(var(var(--clr-primary-rgb)));
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Variable';
  font-weight: 600;
  line-height: 1.3;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1024px;
  min-width: 250px;
  margin-inline: auto;
}

.ant-layout-header {
  display: flex;
  padding-right: 15px;
  padding-left: 0;
}

.mobile-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ant-drawer-header-title {
  justify-content: end;
  * {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

.comment-section-title {
  font-weight: 600 !important;
}

.ant-menu {
  border-bottom: 0;
  font-family: "Bebas Neue";
  /* font-weight: 500; */
}

.ant-menu-item {
  font-size: 24px;
  height: fit-content !important;
}

.ant-list {
  margin-block: 32px;
}

.story {
  flex-direction: column;
  align-items: start !important;
  padding-inline: 10px !important;
  gap: 8px;
  border-block-end: none !important;
  margin-bottom: 32px;
}

.story-title {
  cursor: pointer;
  font-size: 32px;
  margin-bottom: 0;
  opacity: .75;
  transition: opacity 0.2s ease-in-out;
}

.story-title:hover {
  opacity: .95;
}

.story-info {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.ant-tag {
  margin-right: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 8px;
}

.item-id {
  font-size: 10px !important;
  margin-top: 3px;
}

.item-id-label {
  font-size: 10px !important;
  font-weight: bold;
}

.item-by-author {
  font-weight: 500;
}

.item-age {
  font-weight: 400;
  opacity: .9;
}

.story-comments,
.story-score {
  display: flex;
  gap: 4px;
}

.ant-layout-content {
  position: relative;

  .container:has(.ant-spin) {
    position: absolute;
    display: grid;
    place-content: center;
    inset: 0;
  }

  .ant-drawer-content-wrapper {
    height: 80% !important;
  }
}

.ant-drawer-close {
  order: 1;
  margin-right: 0 !important;
}

.ant-card-body {
  padding: 16px !important;
  padding-top: 0 !important;
}

.comment-body {
  margin-top: 16px;
  margin-bottom: 8px;
}

.ant-card-head {
  padding-inline: 16px !important;
  min-height: 48px !important;
}

.comment-section * {
  font-size: 16px;
}

.ant-drawer-body {
  background-color: #fafafa;
}

.comment-wrapper {
  margin-bottom: 32px;
}

.comment-header {
  font-weight: 300;
}

.comment-header > .item-id {
  margin-left: 2px;
}

.comment-body > p:last-of-type {
  margin-bottom: 0;
}

.comment-show-replies {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;

  span * {
    font-size: 12px;
    margin-right: 2px;
  }
}

.comment-show-replies:hover {
  color: rgba(var(--clr-primary-rgb), 0.8);
}

.comment-children :last-child {
  margin-bottom: 0;
}

.comment-children {
  position: relative;
  margin-top: 32px;
  margin-left: 40px;
  display: grid;
}

.comment-rule {
  position: absolute;
  left: -40px;
  top: -32px;
  bottom: -32px;
  /* bottom: 0; */
  padding-inline: 20px;
  cursor: pointer;
}

.comment-rule::before {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background-color: #f0f0f0;
}

.comment-rule:hover::before {
  background-color: rgba(var(--clr-primary-rgb), 0.3);
}

@media (max-width: 685px) {
  .ant-input-affix-wrapper {
    font-size: 1.125rem !important;
    margin-block: 5px;
    padding-block: 5px;
    width: 100% !important;
  }
}

@media (min-width: 685px) {
  .ant-layout-header {
    padding-inline: 0;
  }

  .ant-menu {
    min-width: 600px;
  }

  .ant-menu-item {
    padding-inline: 0 !important;
    vertical-align: text-top !important;
    margin-bottom: 8px !important;
  }

  .ant-menu-item::after {
    inset-inline: -4px !important;
  }

  .ant-menu-item+.ant-menu-item {
    padding-left: 32px !important;
  }

  .ant-menu-item+.ant-menu-item::after {
    inset-inline-start: 28px !important;
  }

  .ant-input-affix-wrapper {
    transform: translateY(-2px);
  }

  :is(.ant-menu-item-active, .ant-menu-item-selected).search::after {
    display: none;
  }

  .ant-drawer-content-wrapper {
    width: 80% !important;
  }
}